[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "tvarit_api"

[packages]
requests = "~=2.22"
pyotp = "~=2.2"

[dev-packages]
codecov = "~=2.0"
coverage = "~=4.5"
mock = "~=3.0"
requests-mock = "~=1.6"
unittest-xml-reporting = "~=2.5"
funcsigs = "~=1.0"
